  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fd7e14;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/cars">{{ title }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active"><i class="bi bi-house-door-fill"></i></a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/cars" routerLinkActive="active">Arabalar</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/cars/add" routerLinkActive="active">Araba Ekle</a></li>
          
          <app-cart-summary></app-cart-summary>
        </ul>
        
        <div class="btn-group" role="group" *ngIf="!isAuth()" >
          <button id="btnGroupDrop1" type="button" class="btn btn- dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Giriş
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" routerLink="/register">Kayıt Ol<i class="bi bi-person-plus-fill"></i></a></li>
            <li><a class="dropdown-item" routerLink="/login">Giriş Yap<i class="bi bi-box-arrow-in-right"></i></a></li>
          </ul>
        </div>

        <div class="btn-group" role="group" *ngIf="isAuth()" >
         
          <button (click)="logout()" type="button" class="btn btn-outline-dark" aria-labelledby="btnGroupDrop1" routerLink="/">Çıkış Yap<i class="bi bi-box-arrow-in-right"></i></button>
          <label></label>
        </div>

  
      </div>
    </div>
  </nav>



