<div class="p-1 mb-1 bg-body rounded" ><h1>
  <p class="banner fw-bold fst-italic">Güvenli ve Keyifli Sürüşler İçin Buradayız...</p>
</h1></div><br><br><br><br>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://image.freepik.com/free-photo/happy-customer-buying-new-car-dealership_342744-710.jpg" class="d-block w-100 img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3>Bizim için değerlisiniz</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://image.freepik.com/free-photo/man-mechanic-woman-customer-look-car-hood-discuss-repairs_146671-14232.jpg" class="d-block w-100 img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3>Araçlarımızın bakımı periyodik olarak yapılır</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://image.freepik.com/free-photo/car-wash-detailing-station_1303-22307.jpg" class="d-block w-100 img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3>Araçlarımız hijyenik olarak düzenli temizlenir</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://image.freepik.com/free-photo/mechanic-with-tire-bus-repair-garage-replacement-winter-summer-tires_146671-12145.jpg" class="d-block w-100 img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3>Yol güvenliği için araç lastikleri mevsime göre değiştirilir</h3>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>