.img{
    height: 2%;
}

.carousel{
    margin-bottom: 5px;
    margin-bottom: 5px;
}

p.banner {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-shadow: 2px 2px lightgray;
  }